
.breadcrumb-item {
    color: black;
    cursor: pointer;
}

.breadcrumb, .breadcrumb a {
    background-color: white;
    color:black;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.carousel {
    width: 800px;
    margin: auto;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.card-img {
    cursor: pointer;
    border: 1px solid black;
}

.card-title {
    color: green;
}

.tab-content {
    margin: 10px;
    padding: 10px;
}

hr {
    background-color: black;
}

.card, .page-link {
    border: none;
    color: black;
}

.justify-text {
    text-align: justify;
}

.error-msg {
    display: none;
    color: red;
}

#chat-container {
    height: 300px;
}
